body{
    background-color: rgb(38, 69, 109);
    margin: 10px;
    text-align: justify;
    color: white;
    max-width: 1032px;
    min-width: 300px;
}
hr{
    color: black;
}
h1{
    font-size: 45px;
    margin: 10px;
    padding: 10px 8px;
}
h2{
    font-size: 32px ;
    padding: 8px 6px ;
    margin: 10px;
}
img{
   padding-left: 20px;
    width: 100px;
    
}
p{
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 20px 20px;
}

a{
    color: rgb(0, 0, 0);
    padding-left: 30px;
}
a:visited{
    color: yellow;
}
a:hover{
    color: yellow;
    transition: 1s;
}